h1 {
  text-align: center;
  font-family: "Lobster", cursive;
  margin: 20px;
}

h2 {
  text-align: center;
  font-family: "Lobster", cursive;
  margin: 0 20px 20px 20px;
}

h5 {
  text-align: center;
  font-family: "Lobster", cursive;
}

.sun {
  border-radius: 60%;
  border: 5px groove;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: block;
  padding: 53px;
}

.weather {
  border: 3px groove;
  margin: 20px auto;
  padding: 20px;
  width: 60%;
  background-image: url("https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.bild {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.mit {
  font-size: 30px;
  font-weight: bold;
  font-family: "Lobster", cursive;
}
.ohne {
  text-align: left;
  font-size: 25px;
  font-weight: normal;
  font-family: "Lobster", cursive;
}

.unten {
  text-align: left;
  font-family: "Lobster", cursive;
  font-size: 19px;
}

.kreis {
  width: 100%;
  margin: 30px 0 0 0;
}
.temperatur {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 18px;
}
.karte {
  background-color: transparent;
  border: none;
}
.unit {
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-size: 30px;
  position: absolute;
  margin: 0 0 0 10px;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

small {
  margin: 20px;
}
